node_modules/
.next/
out/
.vercel/

build/
dist/

.env
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

*.tsbuildinfo

.tools/
.cache/
.turbo/

.idea/
.vscode/
.DS_Store
Thumbs.db
